.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}
.display{
    height: 300px;
    width: 300px;
    border: solid 2px;
    margin: 0 0 50px;
}
.display2{
    height: 100px;
    width: 100px;
    border: solid 2px;
}
